# Airflow folders
logs/
dags/__pycache__/
plugins/

# Python
*.pyc
__pycache__/

# VS Code
.vscode/

# System
.DS_Store

# Env and config
.env
.env.*
*.db
*.sqlite
*.log

# Docker
airflow-init/

# Data
/data/*.csv
